<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" culture="zh-TW" uiCulture="zh-TW"/>
  </system.web>
  <connectionStrings>
    <add name="H2C_Portal_DB" 
         connectionString="Data Source=127.0.0.1;Initial Catalog=H2C_Portal;User ID=h2c;Password=h2c;Integrated Security=False" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>